 {% load static %}
{% block content %}
    <div id="page-content-wrapper">
<div class=" container-fluid">
                <div class="row">
                    <div class=" col-lg-12">
                        <h1>Suche</h1>
                        <div class="input-group">
                        <button id="btn" class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown">KKZ<span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <input id="search" type="search" class="form-control" name="Suche" placeholder="Suche">
                        </div>
                    </div>
                </div>
</div>
</div>

{% endblock content %}





